<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1>{{ user.username }} profil</h1>
      <div class="card">
        <img
          src="{{ user.photoUrl || '../../../assets/user.png' }}"
          alt="{{ user.username }}"
          class="card-img-top img-thumbnail"
        />
        <div class="card-body">
          <div>
            <strong>Location:</strong>
            <p>{{ user.postalCode }}, {{ user.city }}, {{ user.street }}</p>
          </div>
          <!-- <div>
            <strong>Age:</strong>
            <p>{{ user.age}}</p>
          </div> -->
          <div>
            <strong>Last Active:</strong>
            <!-- {{ date_Value | date [ : format [ : timezone [ : locale ] ] ] }} -->
            <p>{{ user.lastActive | date: "short" }}</p>
          </div>
          <div>
            <strong>Member Since:</strong>
            <p>{{ user.created | date: "mediumDate" }}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100">Like</button>
            <button class="btn btn-success w-100">Message</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="About {{ user.username }}">
            <div class="tab-panel">
              <!-- <h4>Description</h4> -->
              <!-- <p>{{ user.introduction }}</p> -->
              <h4>Adres e-mail</h4>
              <p>{{ user.email }}</p>
              <!-- <h4>Looking For</h4> -->
              <!-- <p>{{ user.introduction }}</p> -->
              <h4>Numer telefonu</h4>
              <p>{{ user.phone }}</p>
            </div>
          </tab>
          <!-- <tab heading="Interests">
               <h4>Interests</h4>
               <p>{{ user.interests }}</p>
          </tab> -->
          <tab heading="Photos">
            <div class="tab-panel">
              <p>Photos will go here</p>
            </div>
          </tab>
          <tab heading="Messages">
            <div class="tab-panel">
              <p>Messages will go here</p>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
