<div class="container mt-5">
<div
  class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light"
>
  <div class="et_pb_text_inner">
    <p style="text-align: center">Centrum Opisowe Radiologii Stomatologicznej</p>
    <p style="text-align: center">ul. Warszawska 99 lok. 1</p>
    <p style="text-align: center">01-345 Warszawa</p>
    <p style="text-align: center">
      <a href="tel:222439933">tel. 22 245 99 88</a>
    </p>
    <p style="text-align: center">
      <a href="tel:728339516">tel. 728 388 555</a>
    </p>
    <p style="text-align: center">
      <a href="tel:668000896">tel. 668 999 888 –&nbsp;opis - RTG, tomografii i CBCT</a>
    </p>
    <p style="text-align: center">
      email:<span>&nbsp;</span
      ><a href="mailto:centrum@centrumopisowe.pl">centrum@centrumopisowe.pl</a>
    </p>
    <h4 style="text-align: center">Godziny pracy:</h4>
    <p style="text-align: center">Pon – Pt:&nbsp;08.00 – 20.00</p>
  </div>
</div>
</div>