<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/home']">
    <img src="assets/cors.png">
  </a>

  <!-- <ul *ngIf="loggedIn()" class="navbar-nav mr-auto"> -->
  <ul class="navbar-nav mr-auto">

    <!-- <li class="nav-item active"><a class="nav-link" href="#">Matches</a></li>  
    <li class="nav-item"><a class="nav-link" href="#">Lists</a></li>
    <li class="nav-item"><a class="nav-link disabled" href="#">Messages</a></li> -->
    <li *ngIf="loggedIn()" class="nav-item"><a class="nav-link" [routerLink]="['/members']" routerLinkActive="router-link-active" >Użytkownicy</a></li>  
    <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['/prices']" routerLinkActive="router-link-active" >Cennik</a></li> -->
    <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['/messages']" routerLinkActive="router-link-active" >Wiadomości</a></li> -->
    <li *ngIf="loggedIn()" class="nav-item"><a class="nav-link" [routerLink]="['/lists']" routerLinkActive="router-link-active" >Prześlij badanie</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active" >Kontakt</a></li>
  </ul>

  <div *ngIf="loggedIn()" class="dropdown" dropdown>
    <a class="dropdown-toggle text-light" dropdownToggle>
      Witaj {{authService.decodedToken?.unique_name | titlecase}}
    </a>
  
    <div class="dropdown-menu dropdown-menu-right mt-3" *dropdownMenu>
      <a class="dropdown-item" [routerLink]="['/member/edit']"><i class="fa fa-user"></i>Edytuj profil</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>Wyloguj</a>
    </div>
  </div>

  <form *ngIf="!loggedIn()" #loginForm="ngForm" class="navbar-nav flex-row ml-md-auto d-none d-md-flex" (ngSubmit)="login()">
    <input class="form-control mr-sm-2" type="text" name="username"
    placeholder="Użytkownik" required [(ngModel)]="model.Username"/>
    <input class="form-control mr-sm-2" type="password" name="password"
    placeholder="Hasło" required [(ngModel)]="model.password"/>
    <button class="btn btn-success my-2 my-sm-0" [disabled]="!loginForm.valid" type="submit">
      Login
    </button>
  </form>
</nav>