<div class="container mt-5">
<div
  class="fusion-title title fusion-sep-none fusion-title-size-one fusion-border-below-title"
  style="margin-top:0px;margin-bottom:31px;"
>
  <h1 class="title-heading-left" data-fontsize="34" data-lineheight="47"></h1>
  <h2 data-fontsize="24" data-lineheight="28">Chirurgia</h2>
</div>
<div class="fusion-sep-clear"></div>
<!-- <div
  class="fusion-separator sep-single sep-solid"
  style="border-color:#e894ae;border-top-width:1px;margin-top:;margin-bottom:30px;width:100%;max-width:10%;"
></div> -->
<div class="fusion-text">
  <p>
    Ekstrakcja zęba prosta* 100 zl<br />
    Ekstrakcja zęba skomplikowana* 200-300 zl<br />
    Dłutowanie wewnątrzzębodołowe* 300-500 zl<br />
    Hemisekcja* 300 zl<br />
    Premolaryzacja* 500 zl<br />
    Założenie szwów 50 zl<br />
    Zdjęcie szwów (dla zaopatrzeń spoza gabinetu) 50 zl<br />
    Leczenie suchego zębodołu/aplikacja leku 60 zl/wizytę<br />
    Korekta girlandy dziąsłowej* 60 zl/ząb<br />
    Wydłużenie korony klinicznej* 200 zl<br />
    Wycięcie kaptura dziąsłowego* 150 zl<br />
    Zaopatrzenie połączenia ustno-zatokowego 150 zl<br />
    Nacięcie i drenaż ropnia 150 zl
  </p>
  <p>
    Wszczepienie implantu 2500 zł<br />
    Korona przykręcana na łączniku cyrkonowym, korona cyrkonowa 2500 zł.
  </p>
  <p>* znieczulenie wliczone w cenę zabiegu</p>
</div>
<div class="fusion-clearfix"></div>
<div
  class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1  fusion-one-full fusion-column-first fusion-column-last 1_1"
  style="margin-top:0px;margin-bottom:20px;"
>
  <div
    class="fusion-column-wrapper"
    style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"
    data-bg-url=""
  >
    <div
      class="fusion-title title fusion-sep-none fusion-title-size-one fusion-border-below-title"
      style="margin-top:0px;margin-bottom:31px;"
    >
      <h1
        class="title-heading-left"
        data-fontsize="34"
        data-lineheight="47"
      ></h1>
      <h2 data-fontsize="24" data-lineheight="28">Stomatologia zachowawcza</h2>
    </div>
    <div class="fusion-sep-clear"></div>
    <!-- <div
      class="fusion-separator sep-single sep-solid"
      style="border-color:#e894ae;border-top-width:1px;margin-top:;margin-bottom:30px;width:100%;max-width:10%;"
    ></div> -->
    <div class="fusion-text">
      <p>
        Badanie stomatologiczne 50 zl<br />
        Konsultacja 100 zl<br />
        Opatrunek 50 zl<br />
        Opatrunek GI 80 zl<br />
        Znieczulenie nasiękowe 20 zl<br />
        Znieczulenie przewodowe 30 zl<br />
        Wypełnienie 150-280 zl<br />
        Odbudowa 300-350 zl<br />
        Licówka kompozytowa 400 zl<br />
        Recontouring/zamknięcie diastem kompozytem 150 zl/pow.<br />
        Odbudowa startej powierzchni okluzyjnej 200 zl<br />
        Index silikonowy 100 zl
      </p>
      <p>
        Dzieci* :<br />
        Wizyta adaptacyjna 80 zl<br />
        Wizyta z dzieckiem niewspółpracującym 100 zl
      </p>
      <p>
        * pozostałe zabiegi u dzieci podlegają opłatom zgodnie z cennikiem
        ogólnym
      </p>
    </div>
    <div class="fusion-clearfix"></div>
  </div>
</div>
</div>
