/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/united/bootstrap.min.css';

.bg-dark{background-color:#343a40 !important}
.btn-primary, .btn-info{background-color: #8d9194; border-color: #8d9194;}
.btn-success:disabled, .btn-success:not(:disabled){background-color: #ffcc00; border-color: #ffcc00;}
body,
html {
  height: 100%;
  /* background-image: url(assets/background.jpg); */
  /* Full height */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  }
